<div class="card h-100 m-2">
    <a class="card-header headerSegmentos text-white text-center fw-bold text-decoration-none mb-2"> Invernadero segmento {{numeroSegmento}}  (+) </a>
    <div class="card-body   text-white bodySegmentos  d-flex align-items-center " >
        <!-- <h5 class="card-text text-card-color"><i class="mdi mdi-calendar-clock text-card-color"></i> Fecha: {{fechaActual| date:'HH:mm, d/MM/y'}}</h5> -->
        <div class="col " style="white-space: nowrap;">           
            <div class="row">
                <div class="col"><h6>Temperatura</h6></div>
                <div class="col text-end"><h5>27°C</h5></div>
            </div>
            <div class="row">
                <div class="col"><h6>Humedad</h6></div>
                <div class="col text-end"><h5>45%HR</h5></div>
            </div>
            <div class="row">
                <div class="col"><h6>CO2</h6></div>
                <div class="col text-end"><h5>1098PPM</h5></div>
            </div>
        </div>
    </div>
</div>


