<div class="table-responsive">
  <table class="table text-white ">
    <thead class="card-demostraciones-header fw-bold">
      <tr>
        <th scope="col"></th>
        <th scope="col">Nº de orden</th>
        <th scope="col">Fecha entrada</th>
        <th scope="col">Fecha Salida</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody class="card-demostraciones-body fw-bolder">
      <tr>
        <th scope="row">1</th>
        <td>0000001</td>
        <td>7/02/2021</td>
        <td>20/02/2021</td>
        <td>Completado</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>0000002</td>
        <td>21/02/2021</td>
        <td>15/03/2021</td>
        <td>Completado</td>
      </tr>
      <tr>
        <th scope="row ms-2">3</th>
        <td>0000003</td>
        <td>20/03/2021</td>
        <td ></td>
        <td>Pendiente</td>
      </tr>
    </tbody>
  </table>
</div>
