<div class="card text-dark bg-warning mb-3" >
    <div class="card-header fw-bold text-center">Temperatura actual registrada por la Estación meteorológica, <i class="mdi mdi-calendar-clock"></i> Fecha: 03:00, 17/03/2021</div>
    <div class="card-body">
      <div class="row ">
        <div class="col fw-bolder ">
            Texto 1
        </div>
        <div class="col fw-bolder">
            Texto 1
        </div>
        <div class="col fw-bolder">
            Texto 1
        </div>
        <div class="col fw-bolder">
            Texto 1
        </div>
        <div class="col fw-bolder">
            Texto 1
        </div>
        <div class="col fw-bolder">
            Texto 1
        </div>
        
      </div>
    </div>
  </div>