
<div class="card text-white card-demostraciones mb-3"style="max-width: 18rem;">
    <div class="card-header card-demostraciones-header">Riego</div>
    <div class="card-body card-demostraciones-body">
        <div class="row">
            <div class="col"><h6>Temperatura</h6></div>
            <div class="col text-end"><h5>27°C</h5></div>
        </div>
        <div class="row">
            <div class="col"><h6>Humedad</h6></div>
            <div class="col text-end"><h5>45%HR</h5></div>
        </div>
        <div class="row">
            <div class="col"><h6>Activar</h6></div>
            <div class="col text-center">
                <div class=" form-switch ">
                    <input class="form-check-input w-75" type="checkbox" id="flexSwitchCheckChecked" >
                    <!-- <label class="form-check-label" for="flexSwitchCheckChecked"></label> -->
                </div>
            </div>
        </div>
        
    </div>
  </div>