<nav class="navbar navbar-expand-md top navbar-dark bg-dark " id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['home']">
      
      <img src="assets/img/coopeumo.png" alt="" width="200" height="50" class="d-inline-block align-top">
    </a>
    <span class="navbar-text titleNav fs-5 hide">
      "Plataforma de sistema de sensorización y automatización Coopeumo"
    </span>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="authenticated=='true'" class="nav-item">
          <a class="nav-link fs-5  " aria-current="page" routerLinkActive="actual" [routerLink]="['home']">Pagina principal</a>
        </li>
        <li   *ngIf="authenticated=='true'" class="nav-item">
          <a class="nav-link fs-5" routerLinkActive="actual" [routerLink]="['dashboard']">Dashboard</a>
        </li>
        
      </ul>
      




      <!--                                     Acceso                              -->
     
          <app-login (status)="recieveStatus($event)"></app-login>          

      

      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>