<footer class="footer  text-center">
    <div class="container-fluid ">
        
        <div class="row justify-content-between">
            <div class="col order-1 hideFooter   " >
                <p class="mb-0 ">
                    Plataforma web desarrollada por
                    <img src="assets/img/Logo_ProteinLab_Blanco.png" alt="" width="120"  class="img-fluid ">
        
                </p>            </div>
            <div class="col-7 mt-4 order-2 hideFooter" >
                <p class="mb-0 pb-0 fs-6" >
                    Proyecto IDI: 40008901-0 “Planta Procesadora Inteligente de 
                    Hortalizas y Frutas de productores pertenecientes al modelo cooperativo 
                    de Coopeumo” desarrollado con financiamiento Fondo de Innovación para
                     la Competitividad (FIC) - Región del Libertador Gral. Bernardo O’Higgins.
        
                </p>            </div>
            <div class="col order-3 p-0">
                <img src="assets/img/coopeumo.png" alt="" width="150"  class="img-fluid mt-4 mb-0 ">

            </div>
          </div>
        
       
       
    </div>
</footer>